# CAP ci_cd_showcase
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
Makefile_*.mta

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# auto generated wildcard
db/.env
# auto generated wildcard
.env1
app/int_items_ci_cd/dist/intitemscicd.zip
app/int_items_ci_cd/dist/manifest-bundle.zip
app/int_items_ci_cd/dist/sap-ui-cachebuster-info.json
app/int_items_ci_cd/dist/resources/sap-ui-version.json
resources/intitemscicd.zip
